.products {
	width: 100%;
	height: auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-bottom: 10rem;
}

.products img {
	width: 150px;
}

.products button {
	background-color: cadetblue;
}

.red {
	color: red;
}